/*
Définition de variables Sass, par exemple :
$color: #282c34;
*/

$white: hsl(0, 0%, 100%);
$backgroundApp: hsl(0, 0%, 98%);
$dark: rgba(0, 0, 0, 0.87);
$purple: #9c27b0;
$purpleVeryLight: rgba(180, 128, 180, 0.116);

$borderRadius: .4rem;
$boxShadow: 0px 0px 4px #88888842;
