@import '../../styles/variables';


.myBookings {
  padding: 6rem 1rem;
  max-width: 1000px;
  margin: 0 auto;

  .noReservation {
    padding: 7rem 0;
    font-size: 1.3rem;
    text-align: center;
  }
 

  .date {
    color: rgb(90, 90, 90);
    font-size: .8rem;
    display: block;
  }

  .container-myBookings {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    // background-color: red;

    @media screen and (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 800px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

