@import '../../styles/variables';

.cityCard {
  position: relative;
  margin: 0 .5rem;

  &:hover {
    .name {
      bottom: 40%;
      transition: 0.4s;
    }
  }

  .picture {
    width: 100%;
    filter: brightness(80%);
  }

  .name {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: $white;
  }
}
