@import '../../styles/variables';

.slider {
  max-width: 1300px;
  margin: 2rem auto 0rem;


  @media screen and (max-width: 1308px) {
    margin: 0rem auto;
  }
  .picture {
    width: 100%;
    // animation-name: fade;
    animation-duration: 1.5s;

    img {
      width: 100%;
      // height: 100%;
      border-radius: $borderRadius;

      @media screen and (max-width: 1308px) {
        border-radius: 0;
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
